:root {
  --md-sys-color-primary: rgb(204 203 118);
  --md-sys-color-surface-tint: rgb(204 203 118);
  --md-sys-color-on-primary: rgb(50 50 0);
  --md-sys-color-primary-container: rgb(73 73 0);
  --md-sys-color-on-primary-container: rgb(232 231 143);
  --md-sys-color-secondary: rgb(202 200 164);
  --md-sys-color-on-secondary: rgb(50 50 24);
  --md-sys-color-secondary-container: rgb(73 72 45);
  --md-sys-color-on-secondary-container: rgb(231 228 191);
  --md-sys-color-tertiary: rgb(164 208 189);
  --md-sys-color-on-tertiary: rgb(11 55 42);
  --md-sys-color-tertiary-container: rgb(37 78 63);
  --md-sys-color-on-tertiary-container: rgb(192 236 216);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 20 12);
  --md-sys-color-on-background: rgb(230 227 213);
  --md-sys-color-surface: rgb(20 20 12);
  --md-sys-color-on-surface: rgb(230 227 213);
  --md-sys-color-surface-variant: rgb(72 71 58);
  --md-sys-color-on-surface-variant: rgb(202 199 182);
  --md-sys-color-outline: rgb(147 145 130);
  --md-sys-color-outline-variant: rgb(72 71 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 227 213);
  --md-sys-color-inverse-on-surface: rgb(49 49 40);
  --md-sys-color-inverse-primary: rgb(98 97 24);
  --md-sys-color-primary-fixed: rgb(232 231 143);
  --md-sys-color-on-primary-fixed: rgb(29 29 0);
  --md-sys-color-primary-fixed-dim: rgb(204 203 118);
  --md-sys-color-on-primary-fixed-variant: rgb(73 73 0);
  --md-sys-color-secondary-fixed: rgb(231 228 191);
  --md-sys-color-on-secondary-fixed: rgb(29 29 6);
  --md-sys-color-secondary-fixed-dim: rgb(202 200 164);
  --md-sys-color-on-secondary-fixed-variant: rgb(73 72 45);
  --md-sys-color-tertiary-fixed: rgb(192 236 216);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 22);
  --md-sys-color-tertiary-fixed-dim: rgb(164 208 189);
  --md-sys-color-on-tertiary-fixed-variant: rgb(37 78 63);
  --md-sys-color-surface-dim: rgb(20 20 12);
  --md-sys-color-surface-bright: rgb(58 58 48);
  --md-sys-color-surface-container-lowest: rgb(15 15 7);
  --md-sys-color-surface-container-low: rgb(28 28 20);
  --md-sys-color-surface-container: rgb(32 32 24);
  --md-sys-color-surface-container-high: rgb(43 42 34);
  --md-sys-color-surface-container-highest: rgb(54 53 44);
}
