:root {
    --md-sys-color-primary: rgb(54 105 62);
    --md-sys-color-surface-tint: rgb(54 105 62);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(184 241 185);
    --md-sys-color-on-primary-container: rgb(29 81 40);
    --md-sys-color-secondary: rgb(81 99 81);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(212 232 209);
    --md-sys-color-on-secondary-container: rgb(58 75 58);
    --md-sys-color-tertiary: rgb(57 101 108);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(189 234 243);
    --md-sys-color-on-tertiary-container: rgb(31 77 84);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(247 251 242);
    --md-sys-color-on-background: rgb(24 29 24);
    --md-sys-color-surface: rgb(247 251 242);
    --md-sys-color-on-surface: rgb(24 29 24);
    --md-sys-color-surface-variant: rgb(221 229 217);
    --md-sys-color-on-surface-variant: rgb(66 73 64);
    --md-sys-color-outline: rgb(114 121 112);
    --md-sys-color-outline-variant: rgb(193 201 190);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(45 50 44);
    --md-sys-color-inverse-on-surface: rgb(238 242 233);
    --md-sys-color-inverse-primary: rgb(156 212 159);
    --md-sys-color-primary-fixed: rgb(184 241 185);
    --md-sys-color-on-primary-fixed: rgb(0 33 8);
    --md-sys-color-primary-fixed-dim: rgb(156 212 159);
    --md-sys-color-on-primary-fixed-variant: rgb(29 81 40);
    --md-sys-color-secondary-fixed: rgb(212 232 209);
    --md-sys-color-on-secondary-fixed: rgb(15 31 17);
    --md-sys-color-secondary-fixed-dim: rgb(184 204 181);
    --md-sys-color-on-secondary-fixed-variant: rgb(58 75 58);
    --md-sys-color-tertiary-fixed: rgb(189 234 243);
    --md-sys-color-on-tertiary-fixed: rgb(0 31 36);
    --md-sys-color-tertiary-fixed-dim: rgb(161 206 214);
    --md-sys-color-on-tertiary-fixed-variant: rgb(31 77 84);
    --md-sys-color-surface-dim: rgb(215 219 211);
    --md-sys-color-surface-bright: rgb(247 251 242);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(241 245 236);
    --md-sys-color-surface-container: rgb(235 239 231);
    --md-sys-color-surface-container-high: rgb(229 233 225);
    --md-sys-color-surface-container-highest: rgb(224 228 219);
  }
  