#resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    padding: 32px;
    width: 50%;
    height: 100%;
    /* border-radius: var(--md-sys-shape-corner-extra-large);
    background-color: var(--md-sys-color-surface); */
    white-space: pre-wrap;
}

#resultContainer img {
    border-radius: var(--md-sys-shape-corner-medium);
    display: block;
}

#canvasContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#progressContainer {
    text-align: center;
    align-self: center;
}

#errorElem {
    text-align: center;
    padding: 16px;
    margin: 16px;
    border-radius: var(--md-sys-shape-corner-medium);
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

#saveButton {
    align-self: flex-end;
}

md-circular-progress {
    margin-bottom: 16px;
    align-self: center;
}